# 전부 무시
*
# 단, 아래만 허용
!.gitignore
!app.html
!manifest.json
!icon-192.png
!icon-512.png
!summary.html
!pension.html
!consolidated.html
!acct_용돈1.html
!acct_용돈2.html
!acct_생활비.html
!acct_국내etf.html
!acct_커버드콜.html
